## map() function

In [1]:
# A list of my grades
my_grades = ["B", "C", "B", "D"]

In [2]:
import pandas as pd

In [3]:
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Change the grades by one letter grade
my_grades_changed = my_grades.map({"B":"A", "C":"B", "D":"C"})
my_grades_changed

0    A
1    B
2    A
3    C
dtype: object

## format() function
#### In this example, we are going to iterate through a list of grades and format each grade to the nearest whole number percent.

In [9]:
# Using the format() function
my_grades_2 = [92.34, 84.56, 86.78, 98.32]

for my_grade in my_grades_2:
    print("{:.0f}".format(my_grade))

92
85
87
98

## Chaining the map() and format() Functions

In [10]:
# Convert the numerical grades to a Series
my_grades_3 = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades_3

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [11]:
# Format the grades to the nearest whole number percent
my_grades_3.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object