In [1]:
import pandas as pd

In [2]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head(3)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411
2          2   Shelton High School   Charter  1761  1056600

In [3]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60

In [4]:
# Add each prefiex and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [5]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for item in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(item, "")
student_data_df.head()

/Users/wonheeyun/opt/miniconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## Merge DataFrames

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## Get the Number of Students

In [7]:
# Get the total number of students
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [8]:
student_count2 = school_data_complete_df["Student ID"].count()
student_count2

39170

## Get the Number of Schools

In [9]:
# Calculate the total number of schools
school_count = school_data_df["school_name"].count()
school_count

15

In [10]:
# calculate the total number of schools using the merged DataFrame
# since there's 39,170 rows/values in the merged DataFrame, it's better to use unique() instead of count()
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
len(school_data_complete_df["school_name"].unique())

15

## Get the Total Budget

In [12]:
# Calculate the Total Budget using "school_data_complete_df" DataFrame
total_budget = school_data_complete_df["budget"].sum()
total_budget

82932329558

In [13]:
# Calculate the Total Budget using "school_data_df" DataFrame
total_budget_2 = school_data_df["budget"].sum()
total_budget_2

24649428

## Get the Score Averages

In [14]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [15]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

## Get the Passing Percentages

In [16]:
# Determine the Passing Grade
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [17]:
passing_math

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [18]:
# make a new dataframe for the students who passed math
passing_math_df = school_data_complete_df[passing_math]
passing_math_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [19]:
# make a new dataframe for the students who passed reading
passing_reading_df = school_data_complete_df[passing_reading]
passing_reading_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [20]:
# Calculate the number of students passing math
passing_math_count = passing_math_df["Student ID"].count()
passing_math_count

29370

In [21]:
# Calculate the number of students passing reading
passing_reading_count = passing_reading_df["Student ID"].count()
passing_reading_count

33610

In [22]:
# Get the percentage of students who passed math and reading
passing_math_percentage = passing_math_count / float(student_count2) * 100
passing_reading_percentage = passing_reading_count / float(student_count2) * 100

In [23]:
print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [24]:
# Calculate the percentage of students who passed both math and reading
passing_math_reading = school_data_complete_df[passing_math & passing_reading]
passing_math_reading.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [25]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [26]:
# Calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count2 * 100
overall_passing_percentage

65.17232575950983

## Create a District Summary DataFrame
#### Maria is eager to see the district summary so that she can pass the information along to stakeholders. You'll need to combine all of the metrics we just calculated and put them in a new DataFrame to provide Maria with a table that contains all the data

In [27]:
district_summary_df = pd.DataFrame(
                        [{"Total Schools": school_count,
                          "Total Students": student_count2,
                          "Total Budget": total_budget_2,
                          "Average Math Score": average_math_score,
                          "Average Reading Score": average_reading_score,
                          "% Passing Math": passing_math_percentage,
                          "% Passing Reading": passing_reading_percentage,
                          "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## Format Columns

#### Maria is impressed by your summary DataFrame but wants to add some formatting to make the DataFrame look more professional. You'll need to format the budget to two decimal places; format the grade averages to one decimal place and grade percentages to the nearest whole number percent; and add a thousands separator for numbers greater than 1,000.

### A little bit about functions

In [28]:
passing_math_count = 29370
total_student_count = 39170

In [29]:
# Define a function that calculates the percentage of students that passed
# math and returns the passing percentage when the function is called.

def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

In [30]:
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [31]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [32]:
# Format the "Total Students" to have the comma for a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [33]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Total Budget"]

0    $24,649,428
Name: Total Budget, dtype: object

In [34]:
# Formatting the rest of the columns
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [35]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79.0,81.9,75,86,65

# 4.8.1 Set the Index to the School Name
### Maria is impressed with the work you have done generating the district summary. Now she would like to generate a similar summary for each school in the district

In [36]:
# In this code, the "set_index" method will return a Series with the index as the "school_name"
# and a column with the type of school
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [37]:
# Now we'll create a new DataFrame by converting this Series to a DataFrame as follows:
df = pd.DataFrame(per_school_types)
df.head(5)

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter

# 4.8.2 Get the Student Count Per School
### Next to the "type" of school column, Maria wants you to add the total number of students in each school. However, you have the number of students in two DataFrames: school_data_df and school_data_complete_df. Which one do you use? You'll need to get the number of students from both DataFrames and find which one has "school_name" as the index.

In [38]:
school_data_df.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [39]:
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

# 4.8.3 Get the Budget Per Student
### Next tp the Total Students column, Maria wants you to add the budget per student for each school. First, you'll need to get the budget for each school and then divide by the total students per school, which you already calculated as "per_school_counts".

In [40]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [41]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

## 4.8.4 Get the Score Averages Per School
#### Now you need to calculate the average math score and the average reading score for each school

In [42]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math.head(5)

school_name
Huang High School    79
Huang High School    61
Huang High School    60
Huang High School    58
Huang High School    84
Name: math_score, dtype: int64

Using the `set_index()` method on the `"school_name"` column in `student_data_df` is not good because there are too many occurrences of the school_name column.

Instead, we use the `groupby()` function as it splits an object (like a DataFrame), apply a mathematical operation, and combine the results. This can be used to group large amounts of data when we want to compute mathematical operations on these groups.

In our case, the mathematical operation we will apply to the `groupby()` function is the `mean()` method. Let's see how this will look when we apply it to `school_data_complete_df` to get the grade averages for each column.

In [43]:
school_data_complete_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [44]:
# Calculate the avereage math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages.head(5)

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0

In [45]:
# Calculate the average test scores
per_school_math_average = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading_average = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [46]:
per_school_math_average.head(5)

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [47]:
per_school_reading_average.head(5)

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

## 4.8.5 Get the Passing Percentages Per School
Now Maria would like you to continue gathering key data by calculating the passing percentages for math and reading for each school, as well as get the overall passing percentage for each school.

In [48]:
# To get the passing percentages, we need to:
# 1. Determine what is the passing grade (>=70)
# 2. Calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
# 3. Get the number of students who passed math and passed reading by school.

In [49]:
per_school_passing_math.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [50]:
per_school_passing_reading.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [51]:
passing_student_number_per_school_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
passing_student_number_per_school_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [52]:
passing_student_number_per_school_math.head()

school_name
Bailey High School      3318
Cabrera High School     1749
Figueroa High School    1946
Ford High School        1871
Griffin High School     1371
Name: student_name, dtype: int64

In [53]:
passing_student_number_per_school_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [54]:
# Determine the Percentage of Students Passing Math and Reading
percentage_students_passing_math = passing_student_number_per_school_math / per_school_counts * 100
percentage_students_passing_reading = passing_student_number_per_school_reading / per_school_counts * 100

In [55]:
percentage_students_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [56]:
percentage_students_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [57]:
# Get the overall passing percentage for all students for each school
# Calculate the students who passed both math and reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [58]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [59]:
# Calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [60]:
per_overall_passing_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

## 4.8.6 Create the School Summary DataFrame

In [61]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math_average,
           "Average Reading Score": per_school_reading_average,
           "% Passing Math": percentage_students_passing_math,
           "% Passing Reading": percentage_students_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [69]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.0,77.0,81.0,66.7%,81.9%,54.6%
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.1,84.0,94.1%,97.0%,91.3%
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.7,81.2,66.0%,80.7%,53.2%
Ford High School,District,"2,739","$1,763,916",$644.0,77.1,80.7,68.3%,79.3%,54.3%
Griffin High School,Charter,"1,468","$917,500",$625.0,83.4,83.8,93.4%,97.1%,90.6%
Hernandez High School,District,"4,635","$3,022,020",$652.0,77.3,80.9,66.8%,80.9%,53.5%
Holden High School,Charter,427,"$248,087",$581.0,83.8,83.8,92.5%,96.3%,89.2%
Huang High School,District,"2,917","$1,910,635",$655.0,76.6,81.2,65.7%,81.3%,53.5%
Johnson High School,District,"4,761","$3,094,650",$650.0,77.1,81.0,66.1%,81.2%,53.5%
Pena High School,Charter,962,"$585,858",$609.0,83.8,84.0,94.6%,95.9%,90.5%
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.8,80.7,66.4%,80.2%,53.0%
Shelton High School,Charter,"1,761","$1,056,600",$600.0,83.4,83.7,93.9%,95.9%,89.9%
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.4,83.8,93.3%,97.3%,90.9%
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.3,84.0,93.9%,96.5%,90.6%
Wright High School,Charter,"1,800","$1,049,400",$583.0,83.7,84.0,93.3%,96.6%,90.3%

## Clean up the DataFrame

In [67]:
# per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)

# per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,}".format)

# per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,}".format)

# per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)

# per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)

# per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.1f}%".format)

per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.1f}%".format)

per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.1f}%".format)