In [ ]:
import pandas as pd

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head(3)

In [ ]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head(3)

In [ ]:
# Add each prefiex and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for item in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(item, "")
student_data_df.head()

## Merge DataFrames

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

## Get the Number of Students

In [ ]:
# Get the total number of students
student_count = school_data_complete_df.count()
student_count

In [ ]:
student_count2 = school_data_complete_df["Student ID"].count()
student_count2

## Get the Number of Schools

In [ ]:
# Calculate the total number of schools
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# calculate the total number of schools using the merged DataFrame
# since there's 39,170 rows/values in the merged DataFrame, it's better to use unique() instead of count()
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
len(school_data_complete_df["school_name"].unique())

## Get the Total Budget

In [ ]:
# Calculate the Total Budget using "school_data_complete_df" DataFrame
total_budget = school_data_complete_df["budget"].sum()
total_budget

In [ ]:
# Calculate the Total Budget using "school_data_df" DataFrame
total_budget_2 = school_data_df["budget"].sum()
total_budget_2

## Get the Score Averages

In [ ]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

In [ ]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

## Get the Passing Percentages

In [ ]:
# Determine the Passing Grade
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [ ]:
passing_math

In [ ]:
# make a new dataframe for the students who passed math
passing_math_df = school_data_complete_df[passing_math]
passing_math_df.head(5)

In [ ]:
# make a new dataframe for the students who passed reading
passing_reading_df = school_data_complete_df[passing_reading]
passing_reading_df.head(5)

In [ ]:
# Calculate the number of students passing math
passing_math_count = passing_math_df["Student ID"].count()
passing_math_count

In [ ]:
# Calculate the number of students passing reading
passing_reading_count = passing_reading_df["Student ID"].count()
passing_reading_count

In [ ]:
# Get the percentage of students who passed math and reading
passing_math_percentage = passing_math_count / float(student_count2) * 100
passing_reading_percentage = passing_reading_count / float(student_count2) * 100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate the percentage of students who passed both math and reading
passing_math_reading = school_data_complete_df[passing_math & passing_reading]
passing_math_reading.head(5)

In [ ]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
# Calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count2 * 100
overall_passing_percentage

## Create a District Summary DataFrame
#### Maria is eager to see the district summary so that she can pass the information along to stakeholders. You'll need to combine all of the metrics we just calculated and put them in a new DataFrame to provide Maria with a table that contains all the data

In [ ]:
district_summary_df = pd.DataFrame(
                        [{"Total Schools": school_count,
                          "Total Students": student_count2,
                          "Total Budget": total_budget_2,
                          "Average Math Score": average_math_score,
                          "Average Reading Score": average_reading_score,
                          "% Passing Math": passing_math_percentage,
                          "% Passing Reading": passing_reading_percentage,
                          "% Overall Passing": overall_passing_percentage}])
district_summary_df

## Format Columns

#### Maria is impressed by your summary DataFrame but wants to add some formatting to make the DataFrame look more professional. You'll need to format the budget to two decimal places; format the grade averages to one decimal place and grade percentages to the nearest whole number percent; and add a thousands separator for numbers greater than 1,000.

### A little bit about functions

In [ ]:
passing_math_count = 29370
total_student_count = 39170

In [ ]:
# Define a function that calculates the percentage of students that passed
# math and returns the passing percentage when the function is called.

def passing_math_percent(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

In [ ]:
passing_math_percent(passing_math_count, total_student_count)

In [ ]:
district_summary_df

In [ ]:
# Format the "Total Students" to have the comma for a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

In [ ]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Total Budget"]

In [ ]:
# Formatting the rest of the columns
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [ ]:
district_summary_df

# 4.8.1 Set the Index to the School Name
### Maria is impressed with the work you have done generating the district summary. Now she would like to generate a similar summary for each school in the district

In [ ]:
# In this code, the "set_index" method will return a Series with the index as the "school_name"
# and a column with the type of school
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

In [ ]:
# Now we'll create a new DataFrame by converting this Series to a DataFrame as follows:
df = pd.DataFrame(per_school_types)
df.head(5)

# 4.8.2 Get the Student Count Per School
### Next to the "type" of school column, Maria wants you to add the total number of students in each school. However, you have the number of students in two DataFrames: school_data_df and school_data_complete_df. Which one do you use? You'll need to get the number of students from both DataFrames and find which one has "school_name" as the index.

In [ ]:
school_data_df.head(5)

In [ ]:
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

# 4.8.3 Get the Budget Per Student
### Next tp the Total Students column, Maria wants you to add the budget per student for each school. First, you'll need to get the budget for each school and then divide by the total students per school, which you already calculated as "per_school_counts".

In [ ]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

In [ ]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

## 4.8.4 Get the Score Averages Per School
#### Now you need to calculate the average math score and the average reading score for each school

In [ ]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math.head(5)

Using the `set_index()` method on the `"school_name"` column in `student_data_df` is not good because there are too many occurrences of the school_name column.

Instead, we use the `groupby()` function as it splits an object (like a DataFrame), apply a mathematical operation, and combine the results. This can be used to group large amounts of data when we want to compute mathematical operations on these groups.

In our case, the mathematical operation we will apply to the `groupby()` function is the `mean()` method. Let's see how this will look when we apply it to `school_data_complete_df` to get the grade averages for each column.

In [ ]:
school_data_complete_df.head(5)

In [ ]:
# Calculate the avereage math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages.head(5)

In [ ]:
# Calculate the average test scores
per_school_math_average = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading_average = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [ ]:
per_school_math_average.head(5)

In [ ]:
per_school_reading_average.head(5)

## 4.8.5 Get the Passing Percentages Per School
Now Maria would like you to continue gathering key data by calculating the passing percentages for math and reading for each school, as well as get the overall passing percentage for each school.

In [ ]:
# To get the passing percentages, we need to:
# 1. Determine what is the passing grade (>=70)
# 2. Calculate the passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
# 3. Get the number of students who passed math and passed reading by school.

In [ ]:
per_school_passing_math.head(5)

In [ ]:
per_school_passing_reading.head(5)

In [ ]:
passing_student_number_per_school_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
passing_student_number_per_school_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [ ]:
passing_student_number_per_school_math.head()

In [ ]:
passing_student_number_per_school_reading

In [ ]:
# Determine the Percentage of Students Passing Math and Reading
percentage_students_passing_math = passing_student_number_per_school_math / per_school_counts * 100
percentage_students_passing_reading = passing_student_number_per_school_reading / per_school_counts * 100

In [ ]:
percentage_students_passing_math

In [ ]:
percentage_students_passing_reading

In [ ]:
# Get the overall passing percentage for all students for each school
# Calculate the students who passed both math and reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading.head()

In [ ]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

In [ ]:
# Calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

In [ ]:
per_overall_passing_percentage

## 4.8.6 Create the School Summary DataFrame

In [ ]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math_average,
           "Average Reading Score": per_school_reading_average,
           "% Passing Math": percentage_students_passing_math,
           "% Passing Reading": percentage_students_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

In [ ]:
per_school_summary_df

## Clean up the DataFrame

In [ ]:
# per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)

# per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,}".format)

# per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,}".format)

# per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.1f}".format)

# per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.1f}".format)

# per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.1f}%".format)

# per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.1f}%".format)

# per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.1f}%".format)

## 4.9.1 Find the Highest Performing Schools

You need to find which schools are the highest-performing based on the overall percentage of passing students. This will help the district determine how much money should be allocated to and spend on each school; this will also allow the school board to set the budget for the upcoming school year.

In [ ]:
top_schools = per_school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top_schools

## 4.9.2 Find the Lowest Performing Schools
Determine which schools are the lowest-performing based on the overeall percentage of students who passed. This will help the school board determine if more moeny needs to be allocated to these schools, or if other solutions are needed, based on what the data shows.

In [ ]:
bottom_schools = per_school_summary_df.sort_values(by="% Overall Passing")
bottom_schools.head()

## 4.9.3 Object Oriented Programming
The concept of object-oriented programming

In [ ]:
class Cat:
    def __init__(self, name):
        self.name = name

In [ ]:
first_cat = Cat("Felix")
print(first_cat.name)

In [ ]:
second_cat = Cat("Garfield")
print(second_cat.name)

In [ ]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def bark(self):
        return self.sound + " " + self.sound

In [ ]:
first_dog = Dog("Fido", "brown", "woof!")
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

In [ ]:
second_dog = Dog("Lady", "blonde", "arf!")
print(second_dog.name)
print(second_dog.color)
second_dog.bark()

## 4.10.1 Create Grade-Level DataFrames
Get the average math and reading scores for each school. To do so, you will need to create DataFrames for each grade level.

Create two new DataFrames:
1. One that will display the average math scores for each grade
2. One that will display the average reading scores for each grade

In [100]:
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [101]:
(school_data_complete_df["grade"] == "9th").head()

0     True
1    False
2    False
3    False
4     True
Name: grade, dtype: bool

In [103]:
ninth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders_df = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

## 4.10.2 Score Averages Grouped by School Name

In [112]:
ninth_graders_math_scores = ninth_graders_df.groupby("school_name").mean()["math_score"]
ninth_graders_math_scores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [113]:
tenth_graders_math_scores = tenth_graders_df.groupby("school_name").mean()["math_score"]
eleventh_graders_math_scores = eleventh_graders_df.groupby("school_name").mean()["math_score"]
twelfth_graders_math_scores = twelfth_graders_df.groupby("school_name").mean()["math_score"]

In [114]:
eleventh_graders_math_scores["Pena High School"]

84.328125

In [116]:
ninth_graders_reading_scores = ninth_graders_df.groupby("school_name").mean()["reading_score"]
tenth_graders_reading_scores = tenth_graders_df.groupby("school_name").mean()["reading_score"]
eleventh_graders_reading_scores = eleventh_graders_df.groupby("school_name").mean()["reading_score"]
twelfth_graders_reading_scores = twelfth_graders_df.groupby("school_name").mean()["reading_score"]

In [117]:
twelfth_graders_reading_scores["Shelton High School"]

82.78167115902966

## 4.10.3 Combine each grade level Series into a DataFrame

In [119]:
# Combine each grade level series for average math scores by school into a DataFrame
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_math_scores,
    "10th": tenth_graders_math_scores,
    "11th": eleventh_graders_math_scores,
    "12th": twelfth_graders_math_scores
})
math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [120]:
# Combine each grade level series for average reading scores by school into a DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_reading_scores,
    "10th": tenth_graders_reading_scores,
    "11th": eleventh_graders_reading_scores,
    "12th": twelfth_graders_reading_scores
})
reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171